<div class="homepageNav">
    <nav class="navbar">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Akshu's Cafe Corner</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">Cafe Menu</a></li>
            <li><a href="#">Your cart</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        </div>
    </nav>
    <img src="../../assets/images/coffeeimg.png" alt="">
</div>
<router-outlet></router-outlet>